<header id="headerhome">
    <div id="headerMenu">
        <li><a href="/products">Tienda</a></li>
        <li><a href="/profile">Perfil</a></li>
        <li><a id="btnLogout" href="/logout">Logout</a></li>
    </div>
</header>
<h1>Profile {{user}}</h1>
<script src="/js/logout"></script>